body
{
    margin: 0 auto;
    width: 90%;
}

em
{
    color: red;
    font-weight: bold;
}


.photo-list
{
    /* structure */
    padding-left: 0;
    width: 800px;

    /* presentation */
    list-style-type: none;
}
.photo-list li
{
    /* structure */
    display: inline-block;
    margin: 1em;
    padding: 0.5em;

    /* presentation */
    border-radius: 8px;
    transition: background-color 0.5s;
}
.photo-list li:hover
{
    background-color: silver;
}
.photo-list li.selected
{
    background-color: forestgreen;
}