.thumbs {
float :left;
width : 350px;
}
.viewer {
float : left;
}
.thumbs img {
margin : 5px;
}
.container {
position:relative;
}
#infos {
padding:10px;
position: absolute;
bottom : 0px;
width : 100%;
display:inline-block;  
background-color: rgba(255, 255, 255, 0.5);
}

#container {
display: table-cell;
vertical-align: middle;
width : 100%; height : 100%;
position : fixed ;
top : 0px; left : 0px;
background-color: rgba(0, 0, 0, 0.5);
text-align:center;
z-index : 1;
}

#container img{
line-height: 800px;
max-width : 90%;
max-height : 90%;

}