RewriteEngine on

RewriteRule ^([a-zA-Z0-9]*)/([a-zA-Z0-9]*)$ index.php?controller=$1&method=$2
RewriteRule ^([a-zA-Z0-9]*)/([a-zA-Z0-9]*)/([a-zA-Z0-9\-\_\/]*)$ index.php?controller=$1&method=$2&parameters=$3